<!DOCTYPE html>
<html lang="{{ lang }}">
{% include 'blocks/head.html' %}
<body>
  <div class="builds">
    <div class="builds-info">
      <div>
        <h2 class="builds-title">
          {{ 'Builds' | i18n }}
        </h2>
      </div>
    </div>
    <div class="builds-list"></div>
  </div>
  <script src="./app.js"></script>
</body>
</html>
