<script>
  export let number
  export let changelog
  export let file
  export let date
  let active = false

  const options = {
    month: 'long',
    day: 'numeric'
  }

  const parseDate = (date) => {
    const dateObject = new Date(Date.parse(date))
    return dateObject.toLocaleDateString(navigator.language, options).toLowerCase()
  }

  const toggle = (event) => {
    active = !active
  }
</script>

<div class:__active={active} on:click={toggle} class="builds-item">
  <h3 class="builds-itemTitle __desktop">{number}, {parseDate(date)}</h3>
  <h3 class="builds-itemTitle __mobile">{number}</h3>
  <div class="builds-changelog">
    {@html changelog}
  </div>
  <button class="builds-arrow"></button>
  <div class="builds-spoiler">
    {#if file}
      <a class="button __stroked" href="{`/downloads/${file}`}">
      <span>Скачать</span>
      </a>
    {:else}
      <span class="builds-warning">Сборка больше не доступна</span>
    {/if}
  </div>
  <span class="builds-date">
    {parseDate(date)}
  </span>
</div>
