<script>
  import { onMount } from "svelte";
  import Item from './item.svelte';
  let builds = []

  const fetchBulds = async () => {
    const response = await fetch('/projects')
    const json = await response.json()
    return json
  }

  onMount(async () => {
    builds = await fetchBulds()
    setInterval(async () => {
      builds = await fetchBulds()
    }, 10000)
  })

</script>

{#each builds as build}
  <Item
    number={build.buildNumber}
    changelog={build.changeLog}
    file={build.file}
    date={build.date}>
  </Item>
{/each}
