{% block header %}
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ 'Builds' | i18n }}
  </title>
  <link rel="stylesheet" href="./styles.css">
  <!-- <link href="./assets/googleg_96dp.png" rel="apple-touch-icon" sizes="96x96">
  <link href="./assets/googleg_96dp.png" rel="icon" sizes="96x96" type="image/png">
  <link href="./assets/googleg_32dp.png" rel="icon" sizes="32x32" type="image/png">
  <link href="./assets/googleg_16dp.png" rel="icon" sizes="16x16" type="image/png"> -->
</head>
{% endblock %}
