.builds {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.builds-title {
    font-size: 24px;
    margin-top: 62px;
    margin-bottom: 2px;
}

.builds-new {
    font-size: 12px;
}

.builds-changelog {
  font-size: 16px;
  transform-origin: top;
  transform: scaleY(0.6);
  transition: transform .25s ease-out, height .5s ease-out .25s;
  max-height: 0;
  opacity: 0;
}

.builds-item.__active .builds-changelog {
  transform: 1;
  transform: scaleY(1);
  max-height: 9999px;
  opacity: 1;
}

.builds-changelog ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.builds-changelog li {
    transition: padding 0.3s cubic-bezier(0.4,0,0.2,1),
                opacity 0.2s ease-in,
                max-height 0.3s cubic-bezier(0.4,0,0.2,1) 0.1s;
    padding-bottom: 16px;
    line-height: 28px;
}

.builds-warning {
    opacity: 0;
    font-size: 12px;
    transition: opacity .2s ease-in;
}

.builds-item.__active .builds-warning {
    opacity: 1;
}

.builds-item.__active .builds-download {
    opacity: 1;
    pointer-events: all;
}

.builds-item.__active .builds-download {
    opacity: 1;
}

.builds-item {
    position: relative;
}

.builds-arrow {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 31px;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    transition: transform 0.25s ease-in;
}

.builds-arrow::after,
.builds-arrow::before {
    pointer-events: none;
    content: '';
    background-color: var(--colorTitle);
    height: 13px;
    display: block;
    position: absolute;
    width: 2px;
    top: 0;
    left: 0;
    transform: rotate(45deg);
}

.builds-arrow::before {
    transform: rotate(-45deg);
    left: -8px;
}

.builds-date {
    display: none;
}

.builds-item.__active .builds-arrow{
    transform: rotateX(180deg) translateY(-5px);
}

.builds-itemTitle.__mobile {
    display: none;
}

.builds-itemTitle {
    margin-bottom: 20px;
    margin-top: 0;
}

.builds-item {
    margin: 40px 0;
    padding: 26px 0;
    margin-bottom: 45px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.builds-item.__active {
    border-color: var(--colorLine);
}

.builds-changes {
    position: relative;
    top: -8px;
    transition: opacity .2s ease-in;
}

.builds-item.__active .builds-changes {
    opacity: 0;
}

.builds-spoiler {
    margin-top: 6px;
    overflow: hidden;
    transition: padding 0.3s cubic-bezier(0.4,0,0.2,1),
                opacity 0.3s ease-in 0.1s,
                max-height 0.3s cubic-bezier(0.4,0,0.2,1);
    max-height: 0;
}

.builds-item.__active .builds-spoiler {
    max-height: 9999px;
}

.builds-item.__active .builds-changelogItem {
    transition: padding 0.3s cubic-bezier(0.4,0,0.2,1),
                opacity 0.3s ease-in 0.1s,
                max-height 0.3s cubic-bezier(0.4,0,0.2,1);
    opacity: 1;
    padding-bottom: 16px;
}

.builds-item .button {
    opacity: 0;
    pointer-events: none;
}

.builds-item.builds-item.__active .button {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 770px) {

    .builds {
        display: block;
    }

    .builds-changelog li {
      padding-bottom: 11px;
    }

    .builds-info {
        text-align: center;
        padding: 30px 30px 51px;
    }

    .builds-spoiler {
        opacity: 1;
        max-height: 9999px;
    }

    .builds-changelogItem {
        opacity: 1;

    }

    .builds-item {
        position: relative;
        padding: 33px 23px 45px;
        margin: 10px 0 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 9px;
        border: none;
    }


    .builds-date {
        display: block;
        font-size: 13px;
        position: absolute;
        font-family: Roboto;
        color: #636166;
        bottom: 18px;
        left: 24px;
    }

    .builds-item .button {
        opacity: 1;
        position: absolute;
        font-family: 'Roboto';
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        right: 12px;
        bottom: 13px;
    }

    .builds-item .button.__stroked span {
        color: #4286F5;
    }

    .builds-item .button.__stroked::before {
      background-color: #fff;
    }

    .builds-new {
        font-size: 16px;
    }

    .builds-changes {
        color: #3c3d3d;
        display: none;
    }

    .builds-itemTitle.__mobile {
        display: block;
    }

    .builds-itemTitle.__desktop {
        display: none;
    }

    .builds-itemTitle {
        font-weight: 400;
        font-size: 21px;
        margin-top: -14px;
        margin-bottom: 0;
    }

    .builds-item:first-child {
        border-top: none;
    }

    .builds-item:last-child {
        border-bottom: none;
    }

    .builds-list {
        padding: 0 16px;
        margin-top: 0;
    }

    .builds-title {
        margin-top: 5px;
        font-size: 39px;
        margin-left: -2px;
    }

    .builds-arrow {
        display: none;
    }

    .builds-arrow::before {
        left: -6px;
    }

    .builds-changelog {
        margin-top: 25px;
    }

    .builds-warning {
      opacity: 1;
      display: block;
      font-size: 13px;
      position: absolute;
      font-family: Roboto;
      color: #636166;
      bottom: 18px;
      right: 24px;
    }

    .builds-item.__active .builds-changelog,
    .builds-changelog {
        font-family: 'Roboto';
        opacity: 1;
        color: #636166;
        font-size: 15px;
        max-height: 9999px;
        transform: scaleY(1);
        line-height: 21px;
        padding-bottom: 13px;
    }
}
