@import './button.css';
@import './fonts.css';
@import './builds.css';

body {
    --colorTitle:#828286;
    --colorText:#727276;
    --colorLine: #E1E1E1;
    --colorDark: #423F3F;
    font-family: 'Google Sans';
    color: var(--colorText);
    font-size: 16px;
    padding: 3vw 5vw;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 770px) {
    body {
        --colorText: #222123;
        --colorTitle:#222123;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

h2, h3 {
    color: var(--colorTitle);
    font-weight: 500;
}
